# Ignore file patterns coming from download sources
*.img
*.tar.gz
/tmp
/overlay
/packages
/sources/*.tar.*
/sources/*.tgz
/sources/*.gz
/sources/*.zip
/sources/*.patch
rootfs/
mnt/
image.img
*.nvram
